<div class="container">
    <h2>Features</h2>
    <div class="row">
        <div class="col-md-4 feature-card">
            <img src="../../assets/fast.jpg" alt="fast" class="img-fluid img-sizing">
            <h2>Fast</h2>
            <h4>Quick weather display</h4>
        </div>
        <div class="col-md-4 feature-card">
            <img src="../../assets/min.png" alt="minimal" class="img-fluid img-sizing">
            <h2>Minimal</h2>
            <h4>Minimal look</h4>
        </div>
        <div class="col-md-4 feature-card">
            <img src="../../assets/no-ads.jpg" alt="no-ads" class="img-fluid img-sizing">
            <h2>No Ads</h2>
            <h4>No Ads.Ever.</h4>
        </div>
        <div class="col-md-4 feature-card">
            <img src="../../assets/info.jpg" alt="informative" class="img-fluid img-sizing">
            <h2>Informative</h2>
            <h4>Gives detailed information without overwhelming you</h4>
        </div>
        <div class="col-md-4 feature-card">
            <img src="../../assets/calendar.jpg" alt="one-week" class="img-fluid img-sizing">
            <h2>Weekly Forecast</h2>
            <h4>Upto one week's weather forecast</h4>
        </div>
    </div>
</div>